.navbar {
  min-height: 15vh;
  background-color: antiquewhite;
  padding: 10px;
}

.main-container {
  min-height: 70vh;
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: aliceblue;
  padding: 15px;
}

.body {
  width: 80%;
  background-color: rgb(95, 134, 168);
  padding: 15px;
}

.footer {
  min-height: 15vh;
  background-color: rgb(173, 143, 105);
  padding: 10px;
}
